.header-container {
  display: flex;
  font-size: 1.2em;
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-right: 2px;
}

nav {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  background-color: #ae945f;
  transition: background-color 0.5s ease-out;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}
input[type='checkbox'].checkbox {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}

input[type='checkbox'].checkbox:checked + label {
  left: 30px;
}

input[type='checkbox'].checkbox:focus-visible {
  outline: solid 2px white;
}

input[type='checkbox'].checkbox + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  background: #fff;
  opacity: 0.9;
  background-color: #fff;
}

.toggle-container {
  display: flex;
  margin: 0 auto;
}

.toggle-container > span {
  font-size: 1.2em;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 4px;
  margin-right: 2px;
}

.toggle-container > span:last-child {
  margin-top: 5px;
}

.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}
